.customer-order-container {
  background-color: rgb(141, 206, 141);
  display: grid;
  gap: 30px;
  grid-template-columns: 400px 400px 400px;
  height: 100vh;
  justify-content: center;
  padding: 30px;
  padding-top: 80px;
}

.customer-card-container {
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 7px;
  box-shadow: 3px 3px 3px gray;
  color: #222;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  height: 200px;
  justify-content: center;
  text-decoration: none;
  width: 400px;
}

.order-info {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.order-id {
  align-items: center;
  border-radius: 5px;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 30%;
}

.order-date-totalPrice-containter {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 70%;
}

.status-container {
  border-radius: 5px;
  height: 30%;
  margin-bottom: 15px;
  padding: 20px 50px;
}
