.product-card-container {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 7px;
  box-shadow: 3px 3px 3px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 200px;
}

.product-card-container img {
  height: 100px;
  mix-blend-mode: multiply;
  width: 70px;
}

.product-page-container {
  background-color: rgb(141, 206, 141);
  display: grid;
  gap: 30px;
  grid-template-columns: 200px 200px 200px;
  justify-content: center;
  padding: 30px;
  padding-top: 80px;
}

.cart-product-btn {
  bottom: 20px;
  height: 50px;
  position: fixed;
  right: 10px;
}
